body > #root{

    header {
        height: 50px;
        background-color: #1b8bf9;

        div {
            display: inline-block;
        }

        .company-name {
            color: white;
            font-size: 32px;
            margin-left: 10%;
        }

        .nav-user {
            float: right;
            margin-right: 5%;
            color: white;
            font-size: 18px;
            padding: 5px;

            img {
                width: 40px;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
    }

    %profile-header {
        height: 64px;
        border-bottom: 1px solid #CCCCCC;
        color: #747474;
        font-size: 16px;
        font-weight: 500;
        padding: 22px 15px;
    }

    .main-container {
        padding-top: 50px;
        background-color: #e5e5e5;
        padding-bottom: 100px;

        .profile-heading {
            font-size: 24px;
            font-weight: 500;
            margin: 25px 0;
        }

        .cover {
            background-image: url("../images/hero-img.jpg");
            background-size: cover;
            background-position: center;
            height: 325px;
            position: relative;
            box-shadow: 1px 1px 3px 1px #c5c5c5;

            .menu { 
                height: 70px;
                background-color: white;
                color: black;
                position: absolute;
                right: 0;
                bottom: -70px;
                box-shadow: 1px 1px 3px 1px #c5c5c5;

                .menu-item {
                    text-align: center;
                    font-size: 18px;
                    padding-top: 20px;
                    height: 70px;
                }

                .link {
                    color: #626461;
                }
            }
        }

        .row {
            
            .profile-content {
                // width: 22%;
                height: 100%;
                position: relative;
                top: -200px;

                %share-profile {
                    padding: 15px;
                    border-radius: 5px;
                    background-color: white;
                    text-align: center;
                    margin-bottom: 30px;
                }
                
                .user-info {
                    @extend %share-profile;
                    box-shadow: 1px 1px 1px 1px #c5c5c5;

                    img {
                        width: 100%;
                    }

                    h4 {
                        padding-top: 15px;
                        font-weight: 400;
                    }

                    p {
                        font-weight: 400;
                    }

                    .user-stats {
                        margin: 30px 0;
                        width: 100%;

                        .content {
                            width: 33%;
                            display: inline-block;

                            .main-count {
                                font-size: 22px;
                                color: #2b93ff;
                            }
                        }
                    }

                    .add-friend-button {
                        display: inline-block;
                        text-decoration: none;
                        color: #747474;
                        padding: 10px;
                        margin-bottom: 10px;
                        border: 1px solid #747474;
                        border-radius: 2px;
                        transition: background-color 0.5s, color 0.5s;

                        &:hover {
                            color: white;
                            background-color: #1b8bf9;
                        }

                        i {
                            padding-right: 10px;
                        }
                    }
                }

                .following {
                    @extend %share-profile;
                    padding: 0px;
                    text-align: left;
                    box-shadow: 1px 1px 3px 1px #c5c5c5;

                    .following-header {
                        @extend %profile-header;
                    }

                    .following-content {
                        padding: 15px;

                        .following-info {
                            margin: 10px 10px;

                            .following-img {
                                display: inline-block;
                                width: 25%;
                                border-radius: 50%;
                                vertical-align: top;
                            }

                            .follower-info {
                                display: inline-block;
                                padding: 0 10px;
                                width: 75%;
                                
                                .follower-name {
                                    font-size: 16px;
                                }

                                .follower-work {
                                    color: #747474;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                .friends-container {
                    @extend %share-profile;
                    padding: 0px;
                    text-align: left;
                    box-shadow: 1px 1px 3px 1px #c5c5c5;

                    .following-header {
                        @extend %profile-header;

                        .show-friends-button {
                            display: inline-block;
                            float: right;
                            font-size: 12px;
                            text-decoration: none;
                            background-color: #3198fe;
                            color: white;
                            padding: 2px 5px;
                            border-radius: 5px;
                        }
                    }

                    .friends {
                        padding: 20px;
                        img {
                            display: inline-block;
                            border-radius: 50%;
                            width: 22%;
                            margin: 5px 5px;
                        }
                    }

                }
            }

            .about-container {
                position: relative;
                top: 100px;

                .row {
                    .about-content {
                        // margin-right: 15px;
                        padding: 15px;

                        .post-container {
                            width: 90%;
                            margin-left: 10%;
                            position: relative;

                            &::before {
                                content: '';
                                border: 2px solid #cccccc;
                                position: absolute;
                                height: 100%;
                                left: -40px;

                            }

                            .btn-container {
                                text-align: right;
                                button {
                                    padding: 5px 25px;
                                    margin: 20px 0;
                                }
                            }

                            .post {
                                background-color: white;
                                border-radius: 5px;
                                box-shadow: 1px 1px 3px 1px #c5c5c5;
                                margin-bottom: 40px;
                                
                                .post-header {
                                    position: relative;
                                    padding: 20px;
                                    border-bottom: 1px solid #CCCCCC;

                                    .headline {
                                        font-size: 16px;
                                        margin-bottom: 0px;
                                    }
                                    
                                    .timestamp {
                                        color: grey;
                                        margin-bottom: 0px;
                                    }

                                    img {
                                        display: block;
                                        width: 40px;
                                        position: absolute;
                                        left: -58px;
                                    }
                                }

                                .post-footer {
                                    padding: 20px;
                                    border-top: 1px solid #CCCCCC;

                                    .headline {
                                        font-size: 16px;
                                    }

                                    .description {
                                        color: grey;
                                    }

                                    .title {
                                        font-weight: 500;
                                    }
                                }

                                .button-container {
                                    border-top: 1px solid #CCCCCC;
                                    padding: 20px;
                                    
                                    .button {
                                        padding: 0 10px;
                                        font-size: 16px;
                                        text-decoration: none;
                                        color: grey;

                                        &::after {
                                            content: '|';
                                            margin-left: 10px;
                                        }

                                        i {
                                            padding-right: 10px;
                                        }
                                    }
                                }
                            }
                        }

                        .about {
                            %edit-info-button {
                                display: block;
                                float: right;
                                padding: 10px;
                                background-color: #1b8bf9;
                                color:white;
                                border-radius: 5px;

                                &:hover {
                                    background-color: #0979c5
                                }
                            }

                            .basic-info {
                                background-color: white;
                                border-radius: 5px;
                                margin-bottom: 40px;
                                box-shadow: 1px 1px 3px 1px #c5c5c5;
                                .header {
                                    @extend %profile-header;

                                    i {
                                        @extend %edit-info-button;
                                    }
                                }

                                .content {
                                    padding: 20px;
                                    font-size: 16px;
                                    .row {
                                        margin: 20px 5px;

                                        .title {
                                            font-weight: 500;    
                                        }

                                        .value {
                                            color: grey;

                                            .form-group {
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .photos-container {
                            background-color: white;
                            padding: 20px;
                            box-shadow: 1px 1px 3px 1px #c5c5c5;
                            border-radius: 5px;
                            .image {
                                width: 24%;
                                
                            }
                        }

                        .friends {
                            .row {
                                .friend-info {
                                    margin-bottom: 10px;
                                    background-color: white;
                                    padding: 10px;
                                    box-shadow: 1px 1px 3px 1px #c5c5c5;

                                    .friend-profile-pic {
                                        height: 100%;
                                    }

                                    .friend-content {
                                        display: inline-block;
                                        vertical-align: top;
                                        margin: 30px 0; 
                                        padding-left: 10px;

                                        .friend-name {
                                            font-size: 16px;
                                        }

                                        .work {
                                            color: grey;
                                        }

                                        .follow-btn {
                                            text-decoration: none;
                                            display: inline-block;
                                            padding: 5px 15px;
                                            border-radius: 5px;
                                            background-color: #1b8bf9;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .login-form-container {
        height: 800px;
        background-color: #3198fe;
        position: relative;


        .form-center {
            width: 500px;
            border-radius: 15px;
            background-color: white;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -30%);
            padding: 15px;
        }

    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    body > #root{
        .main-container {

                .row {
                    .profile-content {
                        top: 100px;

                        .following {
                            .following-content {
                                .following-info {
                                    .following-img {
                                        width: 10%;
                                    }
                                }
                            }
                        }

                        .friends-container {
                            .friends {
                                img {
                                    width: 15%;
                                }
                            }
                        }
                    }

                    .about-container {
                        top: 80px;
                    }
                }

                
            }
        }
}
